<!-- Extends the base -->
{% extends 'base/base.html' %}

<!-- Page Title -->
{% block title %} Home {% endblock title %}

<!-- Page Bode -->
{% block body %}

<div class="container">

  <br />
  <h3>Name: {{ name }}</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">attendance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for entry in attendance %}
      <tr>
        <td scope="row">{{ loop.index }}</td>
        <td>{{ entry.subject }}</td>
        <td>{{ entry.attendance_percentage }}%</td>
      </tr>
      {% endfor %}
    </tr>
  </tbody>
</table>
</div>
{% endblock body %}
